

body {
    background-color: #1D6D86;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: white;
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    height: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}


#question {
    font-size: 40px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 60px 0px;
    padding-bottom: 8px;
}

.answerButton{
    height: 50px;
    border-radius: 5px;
}

.answerButton:hover {
    border-color: black;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    height: 40px;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.start-btn .next-btn {
    font-size: 1.5 rem; 
}  

.hidden {
    display: none;
}

#instructions {
    display: flex;
    padding: 60px;
    font-size: 24px;
}